{% extends 'base.html' %}

{% block title %}
Descriptions
{% endblock %}

{% block content %}
<h1>Descriptions of universities</h1>
<p>In this page you will find TOP 20 universities with their short descriptions. However, you can find links of official websites of universities that are ranked from 21 to 100. </p>
<details>
  <summary>1. Massachusetts Institute of Technology (MIT) - USA</summary><br>
  <ul>
    <li>Massachusetts Institute of Technology is a private institution that was founded in 1861</li>
    <li>Known for: </li>
    <li>Tuition and fees: $64,730</li>
    <li>Acceptance rate: 5%</li>
    <li>SAT: 1520+</li>
    <li>IELTS: 7.5+</li>
    <li>Application deadline: January 1.</li>
    <li>University website: <a href="https://web.mit.edu" target="_blank">web.mit.edu</a></li>
  </ul>
</details>

<details>
  <summary>2. Imperial College London - UK</summary><br>
  <ul>
    <li>Imperial College London is a public research university that was founded in 1907</li>
    <li>Known for: Engineering, Medicine, Business</li>
    <li>Tuition and fees: $46,000</li>
    <li>Acceptance rate: 11%</li>
    <li>SAT: 1200+</li>
    <li>IELTS: 7.0+</li>
    <li>Application deadline: January 31</li>
    <li>University website: <a href="https://www.imperial.ac.uk/" target="_blank">imperial.ac.uk</a></li>
  </ul>
</details>

<details>
  <summary>3. University of Oxford - UK</summary><br>
  <ul>
    <li>Founded: 1096</li>
    <li>Known for: Humanities, Sciences, Law</li>
    <li>Tuition and fees: £44,000</li>
    <li>Acceptance rate: 17%</li>
    <li>SAT: 1470+</li>
    <li>IELTS: 7.5+</li>
    <li>Application deadline: October 15</li>
    <li>University website: <a href="https://www.ox.ac.uk/" target="_blank">ox.ac.uk</a></li>
  </ul>
</details>

<details>
  <summary>4. Harvard University - USA</summary><br>
  <ul>
    <li>Founded: 1636</li>
    <li>Known for: Medicine, Law, Business</li>
    <li>Tuition and fees: $57,200</li>
    <li>Acceptance rate: 4%</li>
    <li>SAT: 1500+</li>
    <li>IELTS: 7.5+</li>
    <li>Application deadline: January 1</li>
    <li>University website: <a href="https://www.harvard.edu" target="_blank">harvard.edu</a></li>
  </ul>
</details>

<details>
  <summary>5. University of Cambridge - UK</summary><br>
  <ul>
    <li>Founded: 1209</li>
    <li>Known for: Science, Mathematics, Engineering</li>
    <li>Tuition and fees: from £29,000 to £70,500</li>
    <li>Acceptance rate: 18%</li>
    <li>SAT: 1450+</li>
    <li>IELTS: 7.5+</li>
    <li>Application deadline: October 15</li>
    <li>University website: <a href="https://www.cam.ac.uk" target="_blank">cam.ac.uk</a></li>
  </ul>
</details>

<details>
  <summary>6. Stanford University - USA</summary><br>
  <ul>
    <li>Founded: 1885</li>
    <li>Known for: Engineering, Computer Science</li>
    <li>Tuition and fees: $59,000</li>
    <li>Acceptance rate: 4%</li>
    <li>SAT: 1510+</li>
    <li>IELTS: 7.0+</li>
    <li>Application deadline: January 5</li>
    <li>University website: <a href="https://www.stanford.edu" target="_blank">stanford.edu</a></li>
  </ul>
</details>

<details>
  <summary>7. ETH Zürich – Swiss Federal Institute of Technology - Switzerland</summary><br>
  <ul>
    <li>Founded: 1855</li>
    <li>Known for: Engineering, Physics, Mathematics</li>
    <li>Tuition and fees: $21,600</li>
    <li>Acceptance rate: 27%</li>
    <li>IELTS: 7.0+</li>
    <li>Application deadline: March 31</li>
    <li>University website: <a href="https://ethz.ch" target="_blank">ethz.ch</a></li>
  </ul>
</details>

<details>
  <summary>8. National University of Singapore (NUS) — Singapore</summary><br>
  <ul>
    <li>Founded: 1905</li>
    <li>Known for: Technology, Science, Business</li>
    <li>Tuition and fees: $54,000</li>
    <li>Acceptance rate: 7%</li>
    <li>SAT: 1250+</li>
    <li>IELTS: 6.5+</li>
    <li>Application deadline: November 1</li>
    <li>University website: <a href="https://www.nus.edu.sg" target="_blank">nus.edu.sg</a></li>
  </ul>
</details>

<details>
  <summary>9. University College London (UCL) — UK</summary><br>
  <ul>
    <li>Founded: 1826</li>
    <li>Known for: Medicine, Science, Architecture</li>
    <li>Tuition and fees: £31,310</li>
    <li>Acceptance rate: 9%</li>
    <li>SAT: 1490+</li>
    <li>IELTS: 6.5+</li>
    <li>Application deadline: January 14</li>
    <li>University website: <a href="https://www.ucl.ac.uk" target="_blank">ucl.ac.uk</a></li>
  </ul>
</details>

<details>
  <summary>10. California Institute of Technology (Caltech) — USA</summary><br>
  <ul>
    <li>Founded: 1891</li>
    <li>Known for: Physics, Technology, Engineering</li>
    <li>Tuition and fees: $68,208</li>
    <li>Acceptance rate: 3%</li>
    <li>SAT: 1530+</li>
    <li>IELTS: 7.0+</li>
    <li>Application deadline: January 3</li>
    <li>University website: <a href="https://www.caltech.edu" target="_blank">caltech.edu</a></li>
  </ul>
</details>

<details>
  <summary>11. University of Pennsylvania (Penn) — USA</summary><br>
  <ul>
    <li>Founded: 1740</li>
    <li>Known for: Business, Law, Medicine</li>
    <li>Tuition and fees: $63,452</li>
    <li>Acceptance rate: 6%</li>
    <li>SAT: 1500+</li>
    <li>IELTS: 7.0+</li>
    <li>Application deadline: January 5</li>
    <li>University website: <a href="https://www.upenn.edu" target="_blank">upenn.edu</a></li>
  </ul>
</details>

<details>
  <summary>12. University of California, Berkeley (UCB) — USA</summary><br>
  <ul>
    <li>Founded: 1868</li>
    <li>Known for: Technology, Engineering, Sciences</li>
    <li>Tuition and fees: $46,000</li>
    <li>Acceptance rate: 12%</li>
    <li>SAT: 1415+</li>
    <li>IELTS: 7.0+</li>
    <li>Application deadline: December 1</li>
    <li>University website: <a href="https://www.berkeley.edu" target="_blank">berkeley.edu</a></li>
  </ul>
</details>

<details>
  <summary>13. The University of Melbourne — Australia</summary><br>
  <ul>
    <li>Founded: 1853</li>
    <li>Known for: Medicine, Science, Arts</li>
    <li>Tuition and fees: $91,200</li>
    <li>Acceptance rate: 70%</li>
    <li>SAT: 1250+</li>
    <li>IELTS: 6.5+</li>
    <li>Application deadline: November 30</li>
    <li>University website: <a href="https://www.unimelb.edu.au" target="_blank">unimelb.edu.au</a></li>
  </ul>
</details>

<details>
  <summary>14. Peking University (PKU) — China</summary><br>
  <ul>
    <li>Founded: 1898</li>
    <li>Known for: Science, Law, Humanities</li>
    <li>Tuition and fees: $16,860</li>
    <li>Acceptance rate: 2%</li>
    <li>SAT: 1400+</li>
    <li>IELTS: 6.5+</li>
    <li>Application deadline: December 23</li>
    <li>University website: <a href="https://english.pku.edu.cn" target="_blank">pku.edu.cn</a></li>
  </ul>
</details>

<details>
  <summary>15. Nanyang Technological University (NTU) — Singapore</summary><br>
  <ul>
    <li>Founded: 1991</li>
    <li>Known for: Engineering, Technology, Science</li>
    <li>Tuition and fees: $16,860</li>
    <li>Acceptance rate: 47%</li>
    <li>SAT: 1250+</li>
    <li>IELTS: 6.5+</li>
    <li>Application deadline: November 30</li>
    <li>University website: <a href="https://www.ntu.edu.sg" target="_blank">ntu.edu.sg</a></li>
  </ul>
</details>

<details>
  <summary>16. Cornell University — USA</summary><br>
  <ul>
    <li>Founded: 1865</li>
    <li>Known for: Engineering, Agriculture, Business</li>
    <li>Tuition and fees: $66,000</li>
    <li>Acceptance rate: 8%</li>
    <li>SAT: 1530+</li>
    <li>IELTS: 7.0+</li>
    <li>Application deadline: November 1</li>
    <li>University website: <a href="https://www.cornell.edu" target="_blank">cornell.edu</a></li>
  </ul>
</details>

<details>
  <summary>17. The University of Hong Kong (HKU) — Hong Kong</summary><br>
  <ul>
    <li>Founded: 1911</li>
    <li>Known for: Medicine, Law, Social Sciences</li>
    <li>Tuition and fees: $17,520</li>
    <li>Acceptance rate: 17%</li>
    <li>SAT: 1350+</li>
    <li>IELTS: 6.0+</li>
    <li>Application deadline: November 26</li>
    <li>University website: <a href="https://www.hku.hk" target="_blank">hku.hk</a></li>
  </ul>
</details>

<details>
  <summary>18. The University of Sydney (USyd) — Australia</summary><br>
  <ul>
    <li>Founded: 1850</li>
    <li>Known for: Medicine, Humanities, Science</li>
    <li>Tuition and fees: $38,200</li>
    <li>Acceptance rate: 31%</li>
    <li>SAT: 1200+</li>
    <li>IELTS: 6.5+</li>
    <li>Application deadline: January 14</li>
    <li>University website: <a href="https://www.sydney.edu.au" target="_blank">sydney.edu.au</a></li>
  </ul>
</details>

<details>
  <summary>19. The University of New South Wales (UNSW Sydney) — Australia</summary><br>
  <ul>
    <li>Founded: 1949</li>
    <li>Known for: Science, Engineering, Business</li>
    <li>Tuition and fees: $54,650</li>
    <li>Acceptance rate: 60%</li>
    <li>SAT: 1370+</li>
    <li>IELTS: 6.5+</li>
    <li>Application deadline: November 30</li>
    <li>University website: <a href="https://www.unsw.edu.au" target="_blank">unsw.edu.au</a></li>
  </ul>
</details>

<details>
  <summary>20. Tsinghua University — China</summary><br>
  <ul>
    <li>Founded: 1911</li>
    <li>Known for: Engineering, Computer Science</li>
    <li>Tuition and fees: $18,870</li>
    <li>Acceptance rate: 30%</li>
    <li>SAT: 1300+</li>
    <li>IELTS: 6.5+</li>
    <li>Application deadline: November 15</li>
    <li>University website: <a href="https://www.tsinghua.edu.cn" target="_blank">tsinghua.edu.cn</a></li>
  </ul>
</details>

<details>
  <summary>21. University of Chicago — USA</summary><br>
  <ul>
    <li>Known for: Economics, Research, Social Sciences</li>
    <li>University website: <a href="https://www.uchicago.edu" target="_blank">uchicago.edu</a></li>
  </ul>
</details>

<details>
  <summary>22. Princeton University — USA</summary><br>
  <ul>
    <li>Known for: Mathematics, Humanities, Research</li>
    <li>University website: <a href="https://www.princeton.edu" target="_blank">princeton.edu</a></li>
  </ul>
</details>

<details>
  <summary>23. Yale University — USA</summary><br>
  <ul>
    <li>Known for: Humanities, Law, Arts</li>
    <li>University website: <a href="https://www.yale.edu" target="_blank">yale.edu</a></li>
  </ul>
</details>

<details>
  <summary>24. Université PSL — France</summary><br>
  <ul>
    <li>Known for: Science, Interdisciplinary Research</li>
    <li>University website: <a href="https://www.psl.eu" target="_blank">psl.eu</a></li>
  </ul>
</details>

<details>
  <summary>25. University of Toronto (U of T) — Canada</summary><br>
  <ul>
    <li>Known for: Engineering, Technology, Science</li>
    <li>University website: <a href="https://www.utoronto.ca" target="_blank">utoronto.ca</a></li>
  </ul>
</details>

<details>
  <summary>26. École Polytechnique Fédérale de Lausanne (EPFL) — Switzerland</summary><br>
  <ul>
    <li>Known for: Engineering, Technology, Innovation</li>
    <li>University website: <a href="https://www.epfl.ch" target="_blank">epfl.ch</a></li>
  </ul>
</details>

<details>
  <summary>27. The University of Edinburgh (UoE) — UK</summary><br>
  <ul>
    <li>Known for: Humanities, Research, Science</li>
    <li>University website: <a href="https://www.ed.ac.uk" target="_blank">ed.ac.uk</a></li>
  </ul>
</details>

<details>
  <summary>28. Technical University of Munich (TUM) — Germany</summary><br>
  <ul>
    <li>Known for: Engineering, Research, Technology</li>
    <li>University website: <a href="https://www.tum.de" target="_blank">tum.de</a></li>
  </ul>
</details>

<details>
  <summary>29. McGill University — Canada</summary><br>
  <ul>
    <li>Known for: Medicine, Research, International Studies</li>
    <li>University website: <a href="https://www.mcgill.ca" target="_blank">mcgill.ca</a></li>
  </ul>
</details>

<details>
  <summary>30. Australian National University (ANU) — Australia</summary><br>
  <ul>
    <li>Known for: Science, Research, Public Policy</li>
    <li>University website: <a href="https://www.anu.edu.au" target="_blank">anu.edu.au</a></li>
  </ul>
</details>

<details>
  <summary>31. Seoul National University (SNU) — South Korea</summary><br>
  <ul>
    <li>Known for: Technology, Engineering, Science</li>
    <li>University website: <a href="https://www.snu.ac.kr" target="_blank">snu.ac.kr</a></li>
  </ul>
</details>

<details>
  <summary>32. Johns Hopkins University (JHU) — USA</summary><br>
  <ul>
    <li>Known for: Medicine, Research, Public Health</li>
    <li>University website: <a href="https://www.jhu.edu" target="_blank">jhu.edu</a></li>
  </ul>
</details>

<details>
  <summary>33. The University of Tokyo (UTokyo) — Japan</summary><br>
  <ul>
    <li>Known for: Science, Engineering, Research</li>
    <li>University website: <a href="https://www.u-tokyo.ac.jp" target="_blank">u-tokyo.ac.jp</a></li>
  </ul>
</details>

<details>
  <summary>34. Columbia University — USA</summary><br>
  <ul>
    <li>Known for: Business, Research, Arts</li>
    <li>University website: <a href="https://www.columbia.edu" target="_blank">columbia.edu</a></li>
  </ul>
</details>

<details>
  <summary>35. The University of Manchester (UoM) — UK</summary><br>
  <ul>
    <li>Known for: Science, Research, Engineering</li>
    <li>University website: <a href="https://www.manchester.ac.uk" target="_blank">manchester.ac.uk</a></li>
  </ul>
</details>

<details>
  <summary>36. The Chinese University of Hong Kong (CUHK) — Hong Kong</summary><br>
  <ul>
    <li>Known for: Science, International Studies, Research</li>
    <li>University website: <a href="https://www.cuhk.edu.hk" target="_blank">cuhk.edu.hk</a></li>
  </ul>
</details>

<details>
  <summary>37. Monash University — Australia</summary><br>
  <ul>
    <li>Known for: Medicine, Research, Global Education</li>
    <li>University website: <a href="https://www.monash.edu" target="_blank">monash.edu</a></li>
  </ul>
</details>

<details>
  <summary>38. University of British Columbia (UBC) — Canada</summary><br>
  <ul>
    <li>Known for: Science, Research, Sustainability</li>
    <li>University website: <a href="https://www.ubc.ca" target="_blank">ubc.ca</a></li>
  </ul>
</details>

<details>
  <summary>39. Fudan University — China</summary><br>
  <ul>
    <li>Known for: Business, Research, Humanities</li>
    <li>University website: <a href="https://www.fudan.edu.cn" target="_blank">fudan.edu.cn</a></li>
  </ul>
</details>

<details>
  <summary>40. King’s College London (KCL) — UK</summary><br>
  <ul>
    <li>Known for: Medicine, Research, Humanities</li>
    <li>University website: <a href="https://www.kcl.ac.uk" target="_blank">kcl.ac.uk</a></li>
  </ul>
</details>

<details>
  <summary>41. The University of Queensland (UQ) — Australia</summary><br>
  <ul>
    <li>Known for: Science, Medicine, Research</li>
    <li>University website: <a href="https://www.uq.edu.au" target="_blank">uq.edu.au</a></li>
  </ul>
</details>

<details>
  <summary>42. University of California, Los Angeles (UCLA) — USA</summary><br>
  <ul>
    <li>Known for: Technology, Arts, Research</li>
    <li>University website: <a href="https://www.ucla.edu" target="_blank">ucla.edu</a></li>
  </ul>
</details>

<details>
  <summary>43. New York University (NYU) — USA</summary><br>
  <ul>
    <li>Known for: Business, Arts, Social Sciences</li>
    <li>University website: <a href="https://www.nyu.edu" target="_blank">nyu.edu</a></li>
  </ul>
</details>

<details>
  <summary>44. University of Michigan-Ann Arbor — USA</summary><br>
  <ul>
    <li>Known for: Engineering, Business, Medicine</li>
    <li>University website: <a href="https://umich.edu" target="_blank">umich.edu</a></li>
  </ul>
</details>

<details>
  <summary>45. Shanghai Jiao Tong University (SJTU) — China</summary><br>
  <ul>
    <li>Known for: Engineering, Technology, Research</li>
    <li>University website: <a href="https://www.sjtu.edu.cn" target="_blank">sjtu.edu.cn</a></li>
  </ul>
</details>

<details>
  <summary>46. Institut Polytechnique de Paris (IP Paris) — France</summary><br>
  <ul>
    <li>Known for: Engineering, Research, Innovation</li>
    <li>University website: <a href="https://www.ip-paris.fr" target="_blank">ip-paris.fr</a></li>
  </ul>
</details>

<details>
  <summary>47. The Hong Kong University of Science and Technology (HKUST) — Hong Kong</summary><br>
  <ul>
    <li>Known for: Technology, Business, Engineering</li>
    <li>University website: <a href="https://hkust.edu.hk" target="_blank">hkust.edu.hk</a></li>
  </ul>
</details>

<details>
  <summary>48. Zhejiang University (ZJU) — China</summary><br>
  <ul>
    <li>Known for: Technology, Engineering, Science</li>
    <li>University website: <a href="https://www.zju.edu.cn" target="_blank">zju.edu.cn</a></li>
  </ul>
</details>

<details>
  <summary>49. Delft University of Technology (TU Delft) — Netherlands</summary><br>
  <ul>
    <li>Known for: Engineering, Architecture, Technology</li>
    <li>University website: <a href="https://www.tudelft.nl" target="_blank">tudelft.nl</a></li>
  </ul>
</details>

<details>
  <summary>50. Kyoto University — Japan</summary><br>
  <ul>
    <li>Known for: Science, Research, Engineering</li>
    <li>University website: <a href="https://www.kyoto-u.ac.jp" target="_blank">kyoto-u.ac.jp</a></li>
  </ul>
</details>

<details>
  <summary>51. Northwestern University — USA</summary><br>
  <ul>
    <li>Known for: Business, Journalism, Humanities</li>
    <li>University website: <a href="https://www.northwestern.edu" target="_blank">northwestern.edu</a></li>
  </ul>
</details>

<details>
  <summary>52. The London School of Economics and Political Science (LSE) — UK</summary><br>
  <ul>
    <li>Known for: Social Sciences, Economics, Politics</li>
    <li>University website: <a href="https://www.lse.ac.uk" target="_blank">lse.ac.uk</a></li>
  </ul>
</details>

<details>
  <summary>53. KAIST - Korea Advanced Institute of Science & Technology — South Korea</summary><br>
  <ul>
    <li>Known for: Technology, Engineering, Innovation</li>
    <li>University website: <a href="https://www.kaist.ac.kr" target="_blank">kaist.ac.kr</a></li>
  </ul>
</details>

<details>
  <summary>54. University of Bristol — UK</summary><br>
  <ul>
    <li>Known for: Science, Engineering, Research</li>
    <li>University website: <a href="https://www.bristol.ac.uk" target="_blank">bristol.ac.uk</a></li>
  </ul>
</details>

<details>
  <summary>55. University of Amsterdam (UvA) — Netherlands</summary><br>
  <ul>
    <li>Known for: Social Sciences, Humanities, Research</li>
    <li>University website: <a href="https://www.uva.nl" target="_blank">uva.nl</a></li>
  </ul>
</details>

<details>
  <summary>56. Yonsei University — South Korea</summary><br>
  <ul>
    <li>Known for: Business, International Studies, Science</li>
    <li>University website: <a href="https://www.yonsei.ac.kr" target="_blank">yonsei.ac.kr</a></li>
  </ul>
</details>

<details>
  <summary>57. The Hong Kong Polytechnic University (PolyU) — Hong Kong</summary><br>
  <ul>
    <li>Known for: Engineering, Technology, Design</li>
    <li>University website: <a href="https://www.polyu.edu.hk" target="_blank">polyu.edu.hk</a></li>
  </ul>
</details>

<details>
  <summary>58. Carnegie Mellon University (CMU) — USA</summary><br>
  <ul>
    <li>Known for: Computer Science, Technology, Engineering</li>
    <li>University website: <a href="https://www.cmu.edu" target="_blank">cmu.edu</a></li>
  </ul>
</details>

<details>
  <summary>59. Ludwig-Maximilians-Universität München (LMU) — Germany</summary><br>
  <ul>
    <li>Known for: Humanities, Medicine, Science</li>
    <li>University website: <a href="https://www.lmu.de" target="_blank">lmu.de</a></li>
  </ul>
</details>

<details>
  <summary>60. Universiti Malaya (UM) — Malaysia</summary><br>
  <ul>
    <li>Known for: Medicine, Engineering, Research</li>
    <li>University website: <a href="https://www.um.edu.my" target="_blank">um.edu.my</a></li>
  </ul>
</details>

<details>
  <summary>61. Duke University — USA</summary><br>
  <ul>
    <li>Known for: Medicine, Business, Social Sciences</li>
    <li>University website: <a href="https://www.duke.edu" target="_blank">duke.edu</a></li>
  </ul>
</details>

<details>
  <summary>62. City University of Hong Kong (CityU) — Hong Kong</summary><br>
  <ul>
    <li>Known for: Technology, Engineering, Business</li>
    <li>University website: <a href="https://www.cityu.edu.hk" target="_blank">cityu.edu.hk</a></li>
  </ul>
</details>

<details>
  <summary>63. KU Leuven — Belgium</summary><br>
  <ul>
    <li>Known for: Science, Engineering, Medicine</li>
    <li>University website: <a href="https://www.kuleuven.be" target="_blank">kuleuven.be</a></li>
  </ul>
</details>

<details>
  <summary>64. Sorbonne University — France</summary><br>
  <ul>
    <li>Known for: Humanities, Science, Arts</li>
    <li>University website: <a href="https://www.sorbonne-universite.fr" target="_blank">sorbonne-universite.fr</a></li>
  </ul>
</details>

<details>
  <summary>65. The University of Auckland — New Zealand</summary><br>
  <ul>
    <li>Known for: Science, Engineering, Business</li>
    <li>University website: <a href="https://www.auckland.ac.nz" target="_blank">auckland.ac.nz</a></li>
  </ul>
</details>

<details>
  <summary>66. University of Texas at Austin (UT Austin) — USA</summary><br>
  <ul>
    <li>Known for: Engineering, Business, Computer Science</li>
    <li>University website: <a href="https://www.utexas.edu" target="_blank">utexas.edu</a></li>
  </ul>
</details>

<details>
  <summary>67. Korea University — South Korea</summary><br>
  <ul>
    <li>Known for: Technology, Business, Law</li>
    <li>University website: <a href="https://www.korea.ac.kr" target="_blank">korea.ac.kr</a></li>
  </ul>
</details>

<details>
  <summary>68. National Taiwan University (NTU) — Taiwan</summary><br>
  <ul>
    <li>Known for: Science, Technology, Engineering</li>
    <li>University website: <a href="https://www.ntu.edu.tw" target="_blank">ntu.edu.tw</a></li>
  </ul>
</details>

<details>
  <summary>69. The University of Warwick — UK</summary><br>
  <ul>
    <li>Known for: Business, Economics, Social Sciences</li>
    <li>University website: <a href="https://warwick.ac.uk" target="_blank">warwick.ac.uk</a></li>
  </ul>
</details>

<details>
  <summary>70. University of Illinois Urbana-Champaign — USA</summary><br>
  <ul>
    <li>Known for: Engineering, Computer Science, Business</li>
    <li>University website: <a href="https://illinois.edu" target="_blank">illinois.edu</a></li>
  </ul>
</details>

<details>
  <summary>71. Universidad de Buenos Aires (UBA) — Argentina</summary><br>
  <ul>
    <li>Known for: Social Sciences, Law, Humanities</li>
    <li>University website: <a href="https://www.uba.ar" target="_blank">uba.ar</a></li>
  </ul>
</details>

<details>
  <summary>72. University of California, San Diego (UCSD) — USA</summary><br>
  <ul>
    <li>Known for: Technology, Science, Engineering</li>
    <li>University website: <a href="https://ucsd.edu" target="_blank">ucsd.edu</a></li>
  </ul>
</details>

<details>
  <summary>73. Université Paris-Saclay — France</summary><br>
  <ul>
    <li>Known for: Science, Engineering, Research</li>
    <li>University website: <a href="https://www.universite-paris-saclay.fr" target="_blank">universite-paris-saclay.fr</a></li>
  </ul>
</details>

<details>
  <summary>74. KTH Royal Institute of Technology — Sweden</summary><br>
  <ul>
    <li>Known for: Engineering, Technology, Research</li>
    <li>University website: <a href="https://www.kth.se" target="_blank">kth.se</a></li>
  </ul>
</details>

<details>
  <summary>75. Lund University — Sweden</summary><br>
  <ul>
    <li>Known for: Science, Medicine, Humanities</li>
    <li>University website: <a href="https://www.lu.se" target="_blank">lu.se</a></li>
  </ul>
</details>

<details>
  <summary>76. University of Washington — USA</summary><br>
  <ul>
    <li>Known for: Medicine, Computer Science, Research</li>
    <li>University website: <a href="https://www.washington.edu" target="_blank">washington.edu</a></li>
  </ul>
</details>

<details>
  <summary>77. The University of Western Australia (UWA) — Australia</summary><br>
  <ul>
    <li>Known for: Medicine, Science, Engineering</li>
    <li>University website: <a href="https://www.uwa.edu.au" target="_blank">uwa.edu.au</a></li>
  </ul>
</details>

<details>
  <summary>78. University of Glasgow — UK</summary><br>
  <ul>
    <li>Known for: Science, Humanities, Medicine</li>
    <li>University website: <a href="https://www.gla.ac.uk" target="_blank">gla.ac.uk</a></li>
  </ul>
</details>

<details>
  <summary>79. Brown University — USA</summary><br>
  <ul>
    <li>Known for: Humanities, Social Sciences, Medicine</li>
    <li>University website: <a href="https://www.brown.edu" target="_blank">brown.edu</a></li>
  </ul>
</details>

<details>
  <summary>80. University of Birmingham — UK</summary><br>
  <ul>
    <li>Known for: Science, Engineering, Business</li>
    <li>University website: <a href="https://www.birmingham.ac.uk" target="_blank">birmingham.ac.uk</a></li>
  </ul>
</details>

<details>
  <summary>81. University of Southampton — UK</summary><br>
  <ul>
    <li>Known for: Engineering, Science, Oceanography</li>
    <li>University website: <a href="https://www.southampton.ac.uk" target="_blank">southampton.ac.uk</a></li>
  </ul>
</details>

<details>
  <summary>82. The University of Adelaide — Australia</summary><br>
  <ul>
    <li>Known for: Science, Medicine, Engineering</li>
    <li>University website: <a href="https://www.adelaide.edu.au" target="_blank">adelaide.edu.au</a></li>
  </ul>
</details>

<details>
  <summary>83. University of Leeds — UK</summary><br>
  <ul>
    <li>Known for: Business, Science, Social Sciences</li>
    <li>University website: <a href="https://www.leeds.ac.uk" target="_blank">leeds.ac.uk</a></li>
  </ul>
</details>

<details>
  <summary>84. Universität Heidelberg — Germany</summary><br>
  <ul>
    <li>Known for: Medicine, Humanities, Science</li>
    <li>University website: <a href="https://www.uni-heidelberg.de" target="_blank">uni-heidelberg.de</a></li>
  </ul>
</details>

<details>
  <summary>85. Tokyo Institute of Technology (Tokyo Tech) — Japan</summary><br>
  <ul>
    <li>Known for: Technology, Engineering, Science</li>
    <li>University website: <a href="https://www.titech.ac.jp" target="_blank">titech.ac.jp</a></li>
  </ul>
</details>

<details>
  <summary>86. Osaka University — Japan</summary><br>
  <ul>
    <li>Known for: Science, Medicine, Engineering</li>
    <li>University website: <a href="https://www.osaka-u.ac.jp" target="_blank">osaka-u.ac.jp</a></li>
  </ul>
</details>

<details>
  <summary>87. Trinity College Dublin — Ireland</summary><br>
  <ul>
    <li>Known for: Humanities, Science, Business</li>
    <li>University website: <a href="https://www.tcd.ie" target="_blank">tcd.ie</a></li>
  </ul>
</details>

<details>
  <summary>88. University of Technology Sydney (UTS) — Australia</summary><br>
  <ul>
    <li>Known for: Technology, Engineering, Design</li>
    <li>University website: <a href="https://www.uts.edu.au" target="_blank">uts.edu.au</a></li>
  </ul>
</details>

<details>
  <summary>89. Durham University — UK</summary><br>
  <ul>
    <li>Known for: Humanities, Social Sciences, Law</li>
    <li>University website: <a href="https://www.durham.ac.uk" target="_blank">durham.ac.uk</a></li>
  </ul>
</details>

<details>
  <summary>90. Pennsylvania State University (Penn State) — USA</summary><br>
  <ul>
    <li>Known for: Engineering, Business, Agriculture</li>
    <li>University website: <a href="https://www.psu.edu" target="_blank">psu.edu</a></li>
  </ul>
</details>

<details>
  <summary>91. Purdue University — USA</summary><br>
  <ul>
    <li>Known for: Engineering, Technology, Science</li>
    <li>University website: <a href="https://www.purdue.edu" target="_blank">purdue.edu</a></li>
  </ul>
</details>

<details>
  <summary>92. Universidade de São Paulo (USP) — Brazil</summary><br>
  <ul>
    <li>Known for: Science, Medicine, Humanities</li>
    <li>University website: <a href="https://www5.usp.br" target="_blank">usp.br</a></li>
  </ul>
</details>

<details>
  <summary>93. Pontificia Universidad Católica de Chile (UC) — Chile</summary><br>
  <ul>
    <li>Known for: Humanities, Science, Engineering</li>
    <li>University website: <a href="https://www.uc.cl" target="_blank">uc.cl</a></li>
  </ul>
</details>

<details>
  <summary>94. Lomonosov Moscow State University (MSU) — Russia</summary><br>
  <ul>
    <li>Known for: Science, Mathematics, Humanities</li>
    <li>University website: <a href="https://www.msu.ru" target="_blank">msu.ru</a></li>
  </ul>
</details>

<details>
  <summary>95. Universidad Nacional Autónoma de México (UNAM) — Mexico</summary><br>
  <ul>
    <li>Known for: Social Sciences, Humanities, Science</li>
    <li>University website: <a href="https://www.unam.mx" target="_blank">unam.mx</a></li>
  </ul>
</details>

<details>
  <summary>96. University of Alberta — Canada</summary><br>
  <ul>
    <li>Known for: Science, Medicine, Engineering</li>
    <li>University website: <a href="https://www.ualberta.ca" target="_blank">ualberta.ca</a></li>
  </ul>
</details>

<details>
  <summary>97. Freie Universitaet Berlin — Germany</summary><br>
  <ul>
    <li>Known for: Humanities, Social Sciences, Law</li>
    <li>University website: <a href="https://www.fu-berlin.de" target="_blank">fu-berlin.de</a></li>
  </ul>
</details>

<details>
  <summary>98. Pohang University of Science and Technology (POSTECH) — South Korea</summary><br>
  <ul>
    <li>Known for: Technology, Engineering, Research</li>
    <li>University website: <a href="https://www.postech.ac.kr" target="_blank">postech.ac.kr</a></li>
  </ul>
</details>

<details>
  <summary>99. RWTH Aachen University — Germany</summary><br>
  <ul>
    <li>Known for: Engineering, Technology, Science</li>
    <li>University website: <a href="https://www.rwth-aachen.de" target="_blank">rwth-aachen.de</a></li>
  </ul>
</details>

<details>
  <summary>100. University of Copenhagen — Denmark</summary><br>
  <ul>
    <li>Known for: Science, Medicine, Humanities</li>
    <li>University website: <a href="https://www.ku.dk" target="_blank">ku.dk</a></li>
  </ul>
</details>
{% endblock %}