{% extends 'base.html' %}

{% block title %}
Advices
{% endblock %}

{% block content %}
<section class="container my-5">
  <h2 class="text-center mb-4 text-success fw-bold">How to build a strong university portfolio</h2>

  <div class="row g-4">
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0 portfolio-card">
        <div class="card-body">
          <h5 class="card-title text-success fw-bold">Good Portfolio</h5>
          <ul class="card-text">
            <li><b>Competitions</b></li>
            <p class="card-text">Participate in different kinds of competitions like hackathons or StartUp battles. Participating in this competitions will give you a lot of experience and they are one of the main factors affecting your admission</p>
            <li><b>Social Activities</b></li>
            <p class="card-text">Social activities including participation in clubs, volunteering organizations, internships will improve your soft skills and give you an experience. Make sure that all activities are based on one directions. Several activities based on different directions will not be helpful</p>
            <li><b>Summer Programs</b></li>
            <p class="card-text">Summer programs can change students significantly. There students will learn new skills and gain useful knowledge. These programs can improve your portfolio significantly</p>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0 portfolio-card">
        <div class="card-body">
          <h5 class="card-title text-success fw-bold">Academic Performance</h5>
          <ul class="card-text">
            <li>GPA</li>
            <p class="card-text">GPA has its own impact during admission. Try to make your GPA at least 4.6 starting from 9th grade</p>
            <li>SAT</li>
            <p class="card-text">Most of the universities require a high SAT scores. To get into the TOP 50 universities, your SAT score should be at least 1400. To get a high SAT score, you need to practice a lot. Use websites and books to practice or participate in paid courses. To practice full-length SAT tests, use college board's official app: Bluebook</p>
            <li>IELTS</li>
            <p class="card-text">To get into the TOP 50 universities, your IELTS should be 7.0+. To reach this level, you need to practice reading, listening, writing, and speaking on different platforms</p>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0 portfolio-card">
        <div class="card-body">
          <h5 class="card-title text-success fw-bold">Essay</h5>
          <li><p class="card-text">To write good essay, you need to focus on telling about yourself using specific examples that demonstrate your identity and values</p></li>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
